{% extends 'admin/base.html.twig' %}

{% block main %}

    <main>
        
        {% if not is_granted('ROLE_ADMIN') %}

            {{render(controller("App\\Controller\\AdminController::specificChild"))}}

            <div class="family-portal-container">
                <a class="family-portal-container-options" href="{{path('policies')}}"><i class="far fa-file-pdf fa-2x"></i><p>Documents & Policies</p></a>
                <a class="family-portal-container-options" href="{{path('contact')}}"><i class="far fa-envelope fa-2x"></i><p>Contact Susie</p></a>    
            </div>

        {% else %}

        <div class="admin-tab-container">
            <button class="tab-button tablink selected" onclick="openTab(event,'Families')" >
                <h1 class="main-title">Families</h1>
            </button>
            <button class="tab-button tablink" onclick="openTab(event,'Policies')">
                <h1 class="main-title">Policies</h1>
            </button>
        </div>

                {{render(controller("App\\Controller\\AdminController::families"))}}
                {{render(controller("App\\Controller\\AdminController::policies"))}}

        {% endif %}

    </main>

{% endblock %}