<div id="Families" class="admin-content-container tab">
    {% for family in families %}
        
        <div class="child-container" >
            <a href="{{path('admin_family', {'familyname':family.name|lower|slugify,'id':family.id})}}"><h4 class="family-name">{{family.name}}'s</h4></a>
            <a id="edit-family" href="{{path('edit_family', {'familyname':family.name|lower|slugify,'id':family.id})}}"><i class="fas fa-edit"></i></a>
            <a id="delete-family" onclick="return confirm('Are you sure you want to delete this family?')" href="{{path('delete_family', {'id':family.id})}}"><i class="fas fa-trash-alt"></i></a>    
        </div>

    {% endfor %}

    <a href="{{path('new_user')}}" class="add-new-button"><i class="fas fa-plus-circle"></i><h4>ADD USER</h4></a>
</div>