<div id="Policies" class="admin-content-container tab" style="display:none">
    {% for policy in policies %}
        
        <div class="child-container">
            <a href="{{ asset('assets/policies/' ~ policy.policyFileName) }}"><h4 class="family-name">{{policy.policyName}}</h4></a>
            
            {% if is_granted('ROLE_ADMIN') %}
                <a id="download-policy" href="{{ asset('assets/policies/' ~ policy.policyFileName) }}" download><i class="fas fa-file-download"></i></a>
                <a id="delete-family" onclick="return confirm('Are you sure you want to delete this family?')" href="{{path('delete_policy', {'id':policy.id})}}"><i class="fas fa-trash-alt"></i></a>
            {% else %}
                <a id="edit-family" href="{{ asset('assets/policies/' ~ policy.policyFileName) }}"><i class="fas fa-book-open"></i></a>
                <a id="download-policy" href="{{ asset('assets/policies/' ~ policy.policyFileName) }}" download><i class="fas fa-file-download"></i></a>
            {% endif %}
            
        </div>

    {% endfor %}

    <a href="{{path('new_policy')}}" class="add-new-button"><i class="far fa-file-pdf"></i><h4>ADD POLICY</h4></a>
</div>