<img src="{{ email.image('@images/ofsted-logo.png') }}" alt="Logo" width="15%">
<h2>New contact Form Message</h2>
<h3>Sender's Name: {{name}}</h3>
<h3>Sender's Number: {{number}}</h3>
<br>
<h3>Their message</h3>
<p>{{content}}</p>
<img src="{{ email.image('@images/children-animated.png') }}" alt="Logo" width="50%">