<img src="{{ email.image('@images/children-animated.png') }}" alt="Logo" width="25%">

<p>Hi {{ mums_name }} and {{dads_name}},<p/>

<br>

<p>I have added a new post to {{child_name}}'s timeline.</p>
<p>To view please login into your account at https://www.61susielittleelephants61.djbagsofun.co.uk/ </p>

<br>

<p>Kind Regards</p>
<p>Susie</p>
<p>susie@61susielittleelephants61.djbagsofun.co.uk</p>
<p>01179000221</p>
<img src="{{ email.image('@images/ofsted-logo.png') }}" alt="Logo" width="5%">
<h6>Please note, there is limited information in this email to protect your data</h6>